{% extends "layout.html" %}
   {% block content %}
<a class="nav-link" href="{{url_for('login')}}"><b>Login</b></a>
   {% endblock %}
   {% block body %}
    <div class="container text-center" style="width: 320px; margin-top: 2%; background-color: black; border-radius: 20px; border-style: solid; border-color: goldenrod;" >
    <form class="form-signin" action="" method="post">
      <h1 class="h3 mb-3 font-weight-normal" style="color: silver">SIGN UP</h1>
            {{ form.username(class='form-control', placeholder='Username', style='margin-bottom:2%; background-color: black; border-style: solid; border-color: goldenrod;') }}
            {{ form.email(class='form-control', placeholder='E-mail', style='margin-bottom:2%; background-color: black; border-style: solid; border-color: goldenrod;') }}
            {{ form.password(class='form-control', placeholder='Password', style='margin-bottom:2%; background-color: black; border-style: solid; border-color: goldenrod;') }}     
            {% if msg %}
            <div class="alert alert-warning" style="margin-top: 4%;" role="alert">
            {{msg}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
            </div>
            {% endif %}
      <button style="margin-top: 10%; background-color: black; border-style: solid; border-color: goldenrod; transition: 0.3s;" class="btn btn-lg btn-dark btn-block" type="submit">Create Account</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2018</p>
    </form>
</div>
{% endblock %}